<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Parking</title>

	<link rel="shortcut icon" href="assets/images/logo/favicon.png">
	<link rel="apple-touch-icon" href="assets/images/logo/apple-touch-icon.png">

	<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

	<link rel="stylesheet" href="assets/vendors/menu/src/main.menu.css">

	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="assets/css/utilities.css">
	<link rel="stylesheet" type="text/css" href="assets/css/colors.css">
	<link rel="stylesheet" type="text/css" href="assets/css/colors-gh.css">
	<link rel="stylesheet" type="text/css" href="assets/css/colors-g.css">

	<!-- CAROUSEL -->
	<link rel="stylesheet" href="assets/vendors/owl.carousel/owl.carousel.min.css">
	<link rel="stylesheet" href="assets/vendors/owl.carousel/owl.theme.default.min.css">

	<!-- ANIMATE -->
	<link rel="stylesheet" type="text/css" href="assets/vendors/animate/animate.css">

	<!-- ANIMATED HEADLINES -->
	<link rel="stylesheet" type="text/css" href="assets/vendors/animated-headline/css/style.css">

	<!-- FANCY BOX -->
	<link rel="stylesheet" type="text/css" href="assets/vendors/fancybox/jquery.fancybox.min.css">

</head>
<body>

	<div class="main-header header-shadow cherry-header">
	    <div class="bg-cherry">
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-6 col-md-12">
	                    <div class="text-white mt-10 text-center--md text-center--sm text-center--xs">
	                        Helpline 0123456789
	                    </div>
	                </div>
	                <div class="col-lg-6 col-md-12">
	                    <div class="text-right text-center--md text-center--sm text-center--xs">
	                        <span class="text-white mt-8 pl-20 pr-20 d-inline-block">
	                            Welcome <span class="text-bold-600">John Doe</span>
	                        </span>
	                        <a class="btn btn-white text-cherry text-size-11 text-bold-600 mt-5 mb-5 mt-10--md mb-10--md mt-10--sm mb-10--sm mt-10--xs mb-10--xs text-uppercase" href="my-bookings.html"><i class="zmdi zmdi-account-o text-size-15 mr-6 float-left mt-1"></i> My Bookings</a>
	                        <a class="btn btn-white text-cherry text-size-11 text-bold-600 mt-5 mb-5 mt-10--md mb-10--md mt-10--sm mb-10--sm mt-10--xs mb-10--xs text-uppercase" href="#"><i class="zmdi zmdi-power text-size-15 mr-6 float-left mt-1"></i> Logout</a>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
		<div class="container">

			<div class="main-header-container">

				<div class="logo" data-mobile-logo="assets/images/logo/logo-dark.png" data-sticky-logo="assets/images/logo/logo-dark.png">
					<a href="index.html"><img src="assets/images/logo/logo-dark.png" alt="logo"/></a>
				</div> <!-- /LOGO -->

				<div class="burger-menu">
					<div class="line-menu line-half first-line"></div>
					<div class="line-menu"></div>
					<div class="line-menu line-half last-line"></div>
				</div> <!-- /BURGER MENU -->

				<nav class="main-menu menu-caret menu-hover-2 submenu-top-border submenu-scale">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li class="current-menu"><a href="parkings.html">Parkings</a>
							<ul>
								<li><a href="parkings.html">Parkings</a></li>
								<li><a href="booking.html">Booking</a></li>
								<li class="current-menu"><a href="booking-confirm.html">Booking Confirm</a></li>
							</ul>
						</li>
						<li><a href="how-it-works.html">How it Works</a></li>
						<li><a href="about-us.html">About Us</a>
							<ul>
								<li><a href="meet-and-greet.html">Meet & Greet</a></li>
								<li><a href="testimonials.html">Testimonials</a></li>
							</ul>
						</li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="faqs.html">FAQs</a></li>
						<li><a href="contact-us.html">Contact Us</a></li>
					</ul>
				</nav> <!-- NAVIGATION MENU -->

			</div> <!-- /HEADER CONTAINER -->

		</div> <!-- /CONTAINER -->
	</div> <!-- /HEADER -->

	<section class="pt-s5 pb-s5 overlay-wrap" data-plugin-parallax data-plugin-options="{'speed': 1.5}" data-image-src="assets/images/bg/bg-1.jpg">
		<div class="container overlay-container pt-s2 pb-s5">
			<div class="pb-s5">
				<div class="hero-section-container-tl w-100 h-100 d-flex justify-content-center align-items-center">
					<div class="text-center mb-s2">
						<div class="mt-s3 text-white">
							<h6>Find best airport parking deals</h6>
						</div>
						<div class="mt-s1 mb-s5 text-white">
							<h1 class="animated-headline letters type mb-s2 text-white text-size-20--xs text-size-30--sm">
								<span class="headline-wrapper text-cherry text-capitalize">
									<b class="is-visible">Compare Multiple providers</b>
									<b>Lowest prices</b>
									<b>Secure Booking Process</b>
									<b>A brand you can trust</b>
								</span>
							</h1>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- /CONTAINER -->
		<div class="overlay bg-v9-dark"></div>
	</section> <!-- /SECTION -->

	<section class="bg-v5-light pt-s3 pb-s3">
		<div class="quote-setting container">
			<div class="bg-white p-s3 bs-solid bc-light bw-s1 rounded-s2 box-shadow-v1-s5">
				<form class="quote-hr">
					<div class="row">
                        <div class="col-lg-2">
                            <div class="form-group tooltip_error">
                                <label for="airport_id">Airport</label>
                                <select class="form-control rounded-s5 text-size-12">
                                    <option value="bristol">Bristol</option>
                                    <option value="exeter">Exeter</option>
                                    <option value="east-midlands">East Midlands</option>
                                    <option value="luton">Luton</option>
                                    <option value="manchester">Manchester</option>
                                </select>
                            </div>
                        </div>
						<div class="col-lg-4">
							<label>Drop off Date Time</label>
							<div class="form-row">
								<div class="form-group col-md-6">
									<input type="date" class="form-control text-size-12 rounded-s5 bc-v1-dark">
								</div>
								<div class="form-group col-md-3 col-sm-6">
									<select class="form-control rounded-s5 text-size-12">
										<option value="00">00</option>
										<option value="01">01</option>
										<option value="02">02</option>
										<option value="03">03</option>
										<option value="04">04</option>
										<option value="05">05</option>
										<option value="06">06</option>
										<option value="07">07</option>
										<option value="08">08</option>
										<option value="09">09</option>
										<option value="10">10</option>
										<option value="11">11</option>
										<option value="12">12</option>
										<option value="13">13</option>
										<option value="14">14</option>
										<option value="15">15</option>
										<option value="16">16</option>
										<option value="17">17</option>
										<option value="18">18</option>
										<option value="19">19</option>
										<option value="20">20</option>
										<option value="21">21</option>
										<option value="22">22</option>
										<option value="23">23</option>
									</select>
								</div>
								<div class="form-group col-md-3 col-sm-6">
									<select class="form-control rounded-s5 text-size-12">
										<option value="00">00</option>
										<option value="05">05</option>
										<option value="10">10</option>
										<option value="15">15</option>
										<option value="20">20</option>
										<option value="25">25</option>
										<option value="30">30</option>
										<option value="35">35</option>
										<option value="40">40</option>
										<option value="45">45</option>
										<option value="50">50</option>
										<option value="55">55</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<label>Arrival Date Time</label>
							<div class="form-row">
								<div class="form-group col-md-6">
									<input type="date" class="form-control text-size-12 rounded-s5 bc-v1-dark">
								</div>
								<div class="form-group col-md-3 col-sm-6">
									<select class="form-control rounded-s5 text-size-12">
										<option value="00">00</option>
										<option value="01">01</option>
										<option value="02">02</option>
										<option value="03">03</option>
										<option value="04">04</option>
										<option value="05">05</option>
										<option value="06">06</option>
										<option value="07">07</option>
										<option value="08">08</option>
										<option value="09">09</option>
										<option value="10">10</option>
										<option value="11">11</option>
										<option value="12">12</option>
										<option value="13">13</option>
										<option value="14">14</option>
										<option value="15">15</option>
										<option value="16">16</option>
										<option value="17">17</option>
										<option value="18">18</option>
										<option value="19">19</option>
										<option value="20">20</option>
										<option value="21">21</option>
										<option value="22">22</option>
										<option value="23">23</option>
									</select>
								</div>
								<div class="form-group col-md-3 col-sm-6">
									<select class="form-control rounded-s5 text-size-12">
										<option value="00">00</option>
										<option value="05">05</option>
										<option value="10">10</option>
										<option value="15">15</option>
										<option value="20">20</option>
										<option value="25">25</option>
										<option value="30">30</option>
										<option value="35">35</option>
										<option value="40">40</option>
										<option value="45">45</option>
										<option value="50">50</option>
										<option value="55">55</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-lg-2">
							<div class="form-row">
								<div class="form-group col-md-12">
									<button type="submit" class="btn bg-cherry text-white text-shadow-s1 text-uppercase text-bold-600 text-size-s1 mt-30 rounded-s5 mb-s1 btn-block">Get Quote</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div> <!-- /CONTAINER -->
		<div class="container pt-s4">
			
			<div class="bg-white p-20">
			<div class="row" >
				<div class="col-lg-8 col-md-12">

					<div class="row" v-if="record.booking_edit == 1">
						<div class="col-md-12">
							<a href="booking.html" class="btn btn-sm btn-warning">Edit</a>
						</div>
						<div class="col-md-12">
							<h3 class="text-uppercase text-size-20 text-bold-600 mt-20 mb-12">Your Information</h3>
						</div>
						<div class="col-md-12">
							<div class="d-flex justify-content-between bs-solid bc-light bw-s1 mt-0 bl-0 br-0 pt-10 pb-10">
								<div>Email</div>
								<div>john@gmail.com</div>
							</div>
							<div class="d-flex justify-content-between bs-solid bc-light bw-s1 mt-0 bl-0 br-0 pt-10 pb-10">
								<div>Name</div>
								<div>John Doe</div>
							</div>
							<div class="d-flex justify-content-between bs-solid bc-light bw-s1 mt-0 bl-0 br-0 pt-10 pb-10">
								<div>Mobile #</div>
								<div>0123456789</div>
							</div>
							<div class="d-flex justify-content-between bs-solid bc-light bw-s1 mt-0 bl-0 br-0 pt-10 pb-10">
								<div>Post Code</div>
								<div>879879</div>
							</div>
						</div>
						<div class="col-md-12">
							<h3 class="text-uppercase text-size-20 text-bold-600 mt-20 mb-12">Travel Details</h3>
						</div>
						<div class="col-md-12">
							<div class="d-flex justify-content-between bs-solid bc-light bw-s1 mt-0 bl-0 br-0 pt-10 pb-10">
								<div>Do you know travel details?</div>
								<div>Yes</div>
							</div>
							<div v-if="record.know_travel_detail == 1" class="d-flex justify-content-between bs-solid bc-light bw-s1 mt-0 bl-0 br-0 pt-10 pb-10">
								<div>Depart Terminal</div>
								<div>Terminal 1</div>
							</div>
							<div v-if="record.know_travel_detail == 1" class="d-flex justify-content-between bs-solid bc-light bw-s1 mt-0 bl-0 br-0 pt-10 pb-10">
								<div>Outbound Flight</div>
								<div>Null</div>
							</div>
							<div v-if="record.know_travel_detail == 1" class="d-flex justify-content-between bs-solid bc-light bw-s1 mt-0 bl-0 br-0 pt-10 pb-10">
								<div>Arrival Terminal</div>
								<div>Terminal 2</div>
							</div>
							<div v-if="record.know_travel_detail == 1" class="d-flex justify-content-between bs-solid bc-light bw-s1 mt-0 bl-0 br-0 pt-10 pb-10">
								<div>Inbound Flight</div>
								<div>Null</div>
							</div>
						</div>
						<div class="col-md-12">
							<h3 class="text-uppercase text-size-20 text-bold-600 mt-20 mb-12">Vehicle Details</h3>
						</div>
						<div class="col-md-12">
							<div class="d-flex justify-content-between bs-solid bc-light bw-s1 mt-0 bl-0 br-0 pt-10 pb-10">
								<div>Do you know vehicle details?</div>
								<div>Yes</div>
							</div>
							<div v-if="record.know_vehical_detail == 1" class="d-flex justify-content-between bs-solid bc-light bw-s1 mt-0 bl-0 br-0 pt-10 pb-10">
								<div>Make</div>
								<div>Honda</div>
							</div>
							<div v-if="record.know_vehical_detail == 1" class="d-flex justify-content-between bs-solid bc-light bw-s1 mt-0 bl-0 br-0 pt-10 pb-10">
								<div>Model</div>
								<div>2019</div>
							</div>
							<div v-if="record.know_vehical_detail == 1" class="d-flex justify-content-between bs-solid bc-light bw-s1 mt-0 bl-0 br-0 pt-10 pb-10">
								<div>Colour</div>
								<div>cherry</div>
							</div>
							<div v-if="record.know_vehical_detail == 1" class="d-flex justify-content-between bs-solid bc-light bw-s1 mt-0 bl-0 br-0 pt-10 pb-10">
								<div>Registration</div>
								<div>Reg1212</div>
							</div>
						</div>
					</div>

					<button class="btn bg-cherry text-white text-shadow-s1 text-uppercase text-bold-600 text-size-s1 rounded-0 pt-8 pb-8 pl-20 pr-20 box-shadow-v1-s3--hover mt-30">Confirm Booking</button>

				</div>
				<div class="col-lg-4 col-md-12">
					<div data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.modalcontentsticky', 'padding': {'top': 110}}">
						<div class="row">
							<div class="col-lg-12 col-md-12">
								<div class="bg-white text-center bs-solid bc-light bw-s1 p-35">
									<div>
										<img class="max-w--200" src="assets/images/parkings/parking-1.png" alt="Bristol Parking Spaces">
									</div>
									<div class="w-100 mt-15">
										<span class="bg-v7-warning pt-5 pb-5 pl-20 pr-20 text-dark rounded-s2">Meet & Greet Service</span>
									</div>
									<h4 class="mt-24 mb-0">Bristol Parking Spaces</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="bg-white">
						<table class="w-100 text-size-12">
							<tr class="bs-solid bc-light bw-s1 mt-0 bl-0 br-0">
								<td class="p-8">Location</td>
								<td class="p-8 text-right">Exeter</td>
							</tr>
							<tr class="bs-solid bc-light bw-s1 mt-0 bl-0 br-0">
								<td class="p-8">Drop-Off Date</td>
								<td class="p-8 text-right">31, Jan 2019</td>
							</tr>
							<tr class="bs-solid bc-light bw-s1 mt-0 bl-0 br-0">
								<td class="p-8">Drop-Off Time</td>
								<td class="p-8 text-right">03:00</td>
							</tr>
							<tr class="bs-solid bc-light bw-s1 mt-0 bl-0 br-0">
								<td class="p-8">Pick-Up Date</td>
								<td class="p-8 text-right">03, Feb 2019</td>
							</tr>
							<tr class="bs-solid bc-light bw-s1 mt-0 bl-0 br-0">
								<td class="p-8">Pick-Up Time</td>
								<td class="p-8 text-right">03:00</td>
							</tr>
							<tr class="bs-solid bc-light bw-s1 mt-0 bl-0 br-0">
								<td class="p-8">Days</td>
								<td class="p-8 text-right">3</td>
							</tr>
							<tr class="bs-solid bc-light bw-s1 mt-0 bl-0 br-0">
								<td class="p-8">Booking Quote</td>
								<td class="p-8 text-right text-size-18 text-bold-600">$32.40</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			</div>

		</div> <!-- /CONTAINER -->
	</section> <!-- /SECTION -->

	<!--
    #################################
        - Begin: FOOTER -
    #################################
    -->
    <footer class="footer">
        <div class="bg-dark pt-60 pb-30">
            <div class="container">
                
                <div class="row">
                    
                    <div class="col-md-12">
                        <div class="bs-solid bc-v2-light bw-s1 bt-0 bl-0 br-0 pb-40 mb-50">
                            
                            <div class="row">
                                
                                <div class="col-md-6">
                                    <!-- Begin: LOGO -->
                                    <a class="navbar-brand logo text-cherry" href="index.html">
                                        <img class="full-width max-width-140 m-right-10" alt="Parking" src="assets/images/logo/logo-light.png">
                                    </a>
                                    <span class="text-white">/ Find best airport parking deals</span>
                                    <!-- End: LOGO -->
                                </div>
                                
                                <div class="col-md-6">
                                    <!-- Begin: SOCIAL -->
                                    <div class="text-right">
										<ul class="social list-inline text-size-s1 mb-s2">
											<li class="list-inline-item mr-s2">
												<a class="bg-cherry text-white bg-white--hover text-cherry--hover rounded-circle" href="#">
													<i class="fab fa-facebook-f"></i>
												</a>
											</li>
											<li class="list-inline-item mr-s2">
												<a class="bg-cherry text-white bg-white--hover text-cherry--hover rounded-circle" href="#">
													<i class="fab fa-twitter"></i>
												</a>
											</li>
											<li class="list-inline-item mr-s2">
												<a class="bg-cherry text-white bg-white--hover text-cherry--hover rounded-circle" href="#">
													<i class="fab fa-linkedin-in"></i>
												</a>
											</li>
											<li class="list-inline-item mr-s2">
												<a class="bg-cherry text-white bg-white--hover text-cherry--hover rounded-circle" href="#">
													<i class="fab fa-instagram"></i>
												</a>
											</li>
											<li class="list-inline-item mr-s2">
												<a class="bg-cherry text-white bg-white--hover text-cherry--hover rounded-circle" href="#">
													<i class="fab fa-pinterest-p"></i>
												</a>
											</li>
										</ul>
									</div>
                                    <!-- End: SOCIAL -->
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
                
                <div class="row">
                    
                    <div class="col-lg-4 col-md-6">
                        <div class="mb-30">
                            <h5 class="text-bold-700 mb-30 text-white text-uppercase">Contact Us</h5>
                            <div class="row">
                                <div class="col-lg-12 col-md-6">
                                    <div class="row mb-20 map-bg">
                                        <div class="col-md-12 text-white">
				                            <address> <abbr title="Address"><strong>Address:</strong></abbr><br> 1355 Market Street, Suite 900<br> San Francisco, CA 94103 </address>
				                            <address> <abbr title="Phone"><strong>Phone:</strong></abbr><br> (123) 456-7890 </address>
				                            <address> <abbr title="Email"><strong>Email:</strong></abbr><br> <a class="text-cherry" href="mailto:#">info@website.com</a> </address>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6">
                        <div class="mb-30">
                            
                            <h5 class="text-bold-700 mb-26 text-white text-uppercase">Blog</h5>

                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                	<ul>
										<li>
											<div class="mb-s2">
												<div class="d-flex">
													<div class="mr-s2">
														<a href="#"><img class="w--70" src="assets/images/news/thumb/1-100x70.jpg" alt="News"></a>
													</div>
													<div>
														<h6 class="text-bold-600 text-size-15"><a class="text-white text-cherry--hover" href="#">With one of Australia largest and comprehensive</a></h6>
														<ul class="list-inline text-size-10 text-bold-400 text-white mt-s1">
															<li class="list-inline-item">
																<i class="icon-clock"></i> &nbsp;Jun 01, 2018
															</li>
															<li class="list-inline-item text-size-10">/</li>
															<li class="list-inline-item">
																<i class="icon-bubbles"></i>
																<a class="text-white text-cherry--hover" href="#">12</a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</li>
										<li><hr class="bs-dashed bc-v1-dark"></li>
										<li>
											<div class="mb-s2">
												<div class="d-flex">
													<div class="mr-s2">
														<a href="#"><img class="w--70" src="assets/images/news/thumb/2-100x70.jpg" alt="News"></a>
													</div>
													<div>
														<h6 class="text-bold-600 text-size-15"><a class="text-white text-cherry--hover" href="#">Aliquam lorem ante, dapibus in, viverra quis</a></h6>
														<ul class="list-inline text-size-10 text-bold-400 text-white mt-s1">
															<li class="list-inline-item">
																<i class="icon-clock"></i> &nbsp;Jun 01, 2018
															</li>
															<li class="list-inline-item text-size-10">/</li>
															<li class="list-inline-item">
																<i class="icon-bubbles"></i>
																<a class="text-white text-cherry--hover" href="#">12</a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</li>
										<li><hr class="bs-dashed bc-v1-dark"></li>
										<li>
											<div>
												<div class="d-flex">
													<div class="mr-s2">
														<a href="#"><img class="w--70" src="assets/images/news/thumb/3-100x70.jpg" alt="News"></a>
													</div>
													<div>
														<h6 class="text-bold-600 text-size-15"><a class="text-white text-cherry--hover" href="#">Ut enim ad minima veniam, quis nostrum</a></h6>
														<ul class="list-inline text-size-10 text-bold-400 text-white mt-s1">
															<li class="list-inline-item">
																<i class="icon-clock"></i> &nbsp;Jun 01, 2018
															</li>
															<li class="list-inline-item text-size-10">/</li>
															<li class="list-inline-item">
																<i class="icon-bubbles"></i>
																<a class="text-white text-cherry--hover" href="#">12</a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</li>
									</ul>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-12">
                        <div class="mb-30">
                            
                            <div class="row">

                                <div class="col-lg-12 col-md-6">
                                    
                                    <h5 class="text-bold-700 mb-30 text-white text-uppercase">Newsletter</h5>

                                    <div class="row mb-20">
                                        <div class="col-md-12">
                                            
                                            <form class="mb-20">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input type="email" class="form-control form-control-lg rounded-0 bg-white text-size-14" placeholder="Enter your email">
                                                        <button type="submit" class="input-group-addon btn btn-base rounded-0 text-bold-600 text-spacing-5 text-uppercase text-size-13  p-top-12 pb-12 p-left-20 p-right-20"><i class="fa fa-envelope"></i></button>
                                                    </div>
                                                </div>
                                                <p class="text-muted">Subscribe to our newsletter and we will inform you about newset projects and promotions</p>
                                            </form>

                                            <img class="full-width max-width-140 m-right-10" alt="Parking" src="assets/images/paypal-logo.png">

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </footer>

	<footer class="bg-dark pt-s1 pb-s1">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="mt-s2 mb-s2 text-white">
						<p class="m-0 text-white">&copy; Copyright 2019 by <abbr title="Parking"><a href="#" class="text-white">Parking</a></abbr>. All Rights Reserved.</p>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="mt-s2 mb-s2 text-white text-right">
						<a class="text-white" href="#">Privacy Policy</a> | <a class="text-white" href="#">Terms & Conditions</a>
					</div>
				</div>
			</div> <!-- /ROW -->
		</div> <!-- /CONTAINER -->
	</footer>
    <!-- End: FOOTER -
    ################################################################## -->

	<script src="assets/js/jquery-3.3.1.min.js"></script>
	<script src="assets/vendors/appear/jquery.appear.min.js"></script>
	<script src="assets/vendors/jquery.easing/jquery.easing.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/vendors/common/common.min.js"></script>

	<!-- FANCY-BOX -->
	<script src="assets/vendors/fancybox/jquery.fancybox.min.js"></script>

	<!-- MENU -->
	<script src="assets/vendors/menu/src/main.menu.js"></script>

	<!-- CAROUSEL -->
	<script src="assets/vendors/owl.carousel/owl.carousel.min.js"></script>

	<!-- ANIMATED-HEADLINES -->
	<script src="assets/vendors/animated-headline/js/animated-headline.js"></script>

	<!-- THEME-CUSTOM -->
	<script src="assets/js/main.js"></script>

	<!-- THEME-INITIALIZATION-FILES -->
	<script src="assets/js/theme.init.js"></script>
	<script src="assets/js/custom.js"></script>

</body>
</html>